{{ include('Components/head.html') }}

<div class="container-fluid bg-white">
    <div class="text-center"><img src="./assets/img/credcesta.png" width="150" class="pb-3 pt-3"></div>
</div>

<div style="height:100vh" class="container-fluid bg-red">
    <div class="row">
        <div class="col-lg-4 offset-md-4 text-center">
            <br /><br /><br />

            <div class="box-login">
                <h4>Digite seu email</h4><br />
                <form id="formForgotPassword" method="POST">
                    {{ global.call('CSRFForm') | raw }}
                    <input type="text" name="email" class="cx" placeholder="Email" required />
                    <br />
                    <div class="msg-resp w-100"></div>
                    <br />
                    <button type="button" onclick="forgotPassword()" name="button-form" class="btn w-100 btn-danger">Redefinir Senha</button>
                    <br /><br />
                </form>
            </div>
            <br />            
            <span class="text-muted"><a href="{{ global.call('url') }}/login" class="color-white">Lembreu sua senha?</a></span>

        </div>

    </div>
</div>

{{ include('Components/footer.html') }}