{{ include('Components/head.html') }}

<div class="container-fluid bg-white">
    <div class="text-center"><img src="{{ global.call('url') }}/assets/img/credcesta.png" width="150" class="pb-3 pt-3"></div>
</div>

<div style="height:100vh" class="container-fluid bg-red">
    <div class="row">
        <div class="col-lg-4 offset-md-4 text-center">
            <br /><br /><br />

            <div class="box-login">
                <h4>Digita a nova senha</h4><br />
                <form id="formResetPassword" method="POST">
                    {{ global.call('CSRFForm') | raw }}
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="password" name="password" class="cx" placeholder="Senha" required />
                    <br />
                    <input type="password" name="confirmed_password" class="cx" placeholder="Confirmar Senha" required />
                    <br />
                    <div class="msg-resp w-100"></div>
                    <br />
                    <button type="button" onclick="resetPassword()" name="button-form" class="btn w-100 btn-danger">Redefinir Senha</button>
                    <br /><br />
                </form>
            </div>
            <br />
        </div>

    </div>
</div>

{{ include('Components/footer.html') }}