<!DOCTYPE html>
<html lang="en" class="bg-danger">

<head>
    <title>Termos de Uso e Privacidade</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ global.call('url')}}/assets/css/style.css">
    <link rel="stylesheet" href="{{ global.call('url')}}/assets/css/bootstrap-4-3-1.css">
    <link rel="stylesheet" href="{{ global.call('url')}}/assets/css/analytics.css">
    <meta http-equiv="refresh" name="meta-refresh" content="60">
</head>

<body>

    <div class="container-fluid bg-white">
        <div class="text-center text-white"><img src="./assets/img/credcesta.png" width="150" class="pb-3 pt-3"></div>
    </div>

    <div style="height:100vh" class="container-fluid bg-red">
        <br>
        <h4 class="text-center text-white">TERMOS E CONDIÇÕES DE USO DO SITE E / OU APLICATIVOS CREDCESTA</h4>
        <div class="col-12">
            <iframe src="https://www.credcesta.com.br/TERMOS-E-CONDICOES-DE-USO-DO-SITE-E-OU-APLICATIVOS-CREDCESTA.pdf" style="height:600px;" frameborder="0">

        </iframe>
        </div>
        <h4 class="text-center text-white">AVISO DE PRIVACIDADE – CREDCESTA</h4>
        <div class="col-12">
            <iframe src="https://www.credcesta.com.br/AVISO-DE-PRIVACIDADE%E2%80%93CREDCESTA.pdf" style="height:600px;" frameborder="0">

</iframe>
            <br>
        </div>
    </div>

    <div id="loading-box">
        <!-- <img id="loading-image" src="{{ global.call('url') }}/assets/img/loading.gif" alt="Loading..." /> -->
    </div>

    <script>
        // var URL_BASE = "{{ global.call('url') }}";
    </script>

    <script src="{{ global.call('url')}}/assets/js/jquery-3.6.0.min.js"></script>
    <script src="{{ global.call('url')}}/assets/js/popper.min.js"></script>
    <script src="{{ global.call('url')}}/assets/js/bootstrap.min.js"></script>
    <!-- <script src="{{ global.call('url')}}/assets/js/jquery.mask.js"></script> -->
    <!-- <script src="{{ global.call('url')}}/assets/js/class.ajax.js"></script> -->
    <!-- <script src="{{ global.call('url')}}/assets/js/functions.js"></script> -->
</body>

</html>